/* Common */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html, body {font-family: 'Open Sans', sans-serif; color: #222; font-size: 13px; height: 5000px;}

a:link, a:visited, a:active {color: inherit; text-decoration: none;}
a:hover {color: #777; text-decoration: underline;}

.wrapper {max-width: 980px; margin: 0 auto;}

.popper {box-shadow: 0 0 6px rgba(0,0,0,0.3); position: absolute; z-index: 9;}
.popper > .triangle {
	border-bottom: 8px solid #fff; 
	border-top: 8px solid transparent; 
	border-left: 7px solid transparent; 
	border-right: 7px solid transparent; 
	width: 0; height: 0; position: absolute; top: -16px; left: 8px;}
.popper > .content {padding: 0.75rem; background-color: #fff;}
.popper > .content > div {padding: 0.5rem;}
.popper > .content > div:hover {background-color: #ddd;}

.popicon {color: #fff; background-color: limegreen; 
	position: relative; padding: 0.25rem; font-size: 0.75rem; margin-left: 1rem;}
.popicon > .triangle {
	border-top: 4px solid transparent; 
	border-right: 5px solid limegreen; 
	border-left: 5px solid transparent; 
	border-bottom: 4px solid transparent;
	width: 0; height: 0; position: absolute; left: -10px; 
	top: calc(50% - 4px);}



/* Header */
.header {font-size: 0.875rem;}

.header-top {border-bottom: 1px solid #ddd;}
.header-top > .wrapper {padding: 0.75rem 0; display: flex; justify-content: space-between;}
.nav-top-wrap {display: flex;}
.nav-top-wrap > li {margin: 0 1rem;}
.header-top .fa-chart-bar {margin-right: 0.25rem;}

.header-body {border-bottom: 1px solid #ddd;}
.header-body > .wrapper {padding: 2rem 0; display: flex; justify-content: space-between; align-items: center;}
.currency-wrap {display: flex;}
.currency-wrap > div {padding: 0.75rem 1rem; background-color: #ddd; margin-right: 0.5rem; cursor: pointer;}
.currency {position: relative;}
.currency .popper {top: 2.3rem; left: 0; display: none;}
.currency .popper > .content {min-width: 150px;}
.currency:hover .popper {display: block;}
.country {position: relative;}
.country .popper {top: 2.3rem; left: 0; display: none;}
.country .popper > .content {min-width: 150px;}
.country:hover .popper {display: block;}
.search-wrap {position: relative;}
.search {max-width: 200px; padding: 0.75rem; border: none; background-color: #ddd; font-size: 0.875rem;}
.search-wrap .fa-search {position: absolute; top: 0.875rem; right: 1rem; cursor: pointer;}
.search-wrap .fa-search:hover {color: #f8f8f8;}

.header-nav {display: flex; justify-content: space-between; align-items: center; font-family: 'Oswald', sans-serif; font-size: 1rem;
position: relative;}
.nav-wrap {display: flex;}
.nav-wrap > li {padding: 1rem; cursor: pointer;}
.cart-wrap > div {padding: 1rem; cursor: pointer;}
.snav-wrapper {background-color: #fff; box-shadow: 0 6px 6px rgba(0,0,0,0.3); padding: 1rem; display: none; justify-content: space-between; align-items: flex-start; font-family: 'Open sans', sans-serif; position: absolute; top: 40px; left: 0; z-index: 10;}
.nav-wrap > li:hover .snav-wrapper {display: flex;}
.snav-wrap > li {padding: 0.75rem; position: relative;
white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.snav-wrap > li.title {font-weight: bold;}
.snav-wrap .new-active {display: flex; align-items: center;}
	/* snav-wrapper > li 의 크기 */
	.snav-type1 .snav-wrap {width: 200px;}
	.snav-type1 .snav-ad {width: 150px;}
	.snav-type2 .snav-wrap {width: calc(33.3333% - 100px);}
	.snav-type2 .snav-ad {width: 300px;}
	.snav-type3 .snav-wrap {width: 180px;}
	.snav-type3 a:hover {color: inherit; text-decoration: none;}
	.snav-type3 li:hover {background-color: #ddd;}


/* Main */
.banner-wrap {position: relative; font-family: 'Oswald', sans-serif;}
.banner {position: absolute;}
.banner-panel {position: absolute; background-color: #111; color: #f8f8f8; padding: 3rem;}
.banner-panel > h2 {font-size: 2.5rem;}
.banner-panel > h2, .banner-panel > h3 {margin-bottom: 1rem;}
.banner-panel .btn-black {border: 1px solid #aaa;}
.banner-panel.type1 {top: 50%; right: 5%; transform: translateY(-50%);}
.banner-panel.type2 {top: 50%; left: 5%; transform: translateY(-50%);}
.btn-banner {font-size: 3rem; color: #f8f8f8; position: absolute; top: 50%; transform: translateY(-50%);}
#banner-prev {left: 3%;}
#banner-next {right: 3%;}
.bx-wrapper {box-shadow: none; -webkit-box-shadow: none; border: none;}

/* Section: grey-wrap */
.grey-wrap {background-color: #eee; margin-top: 1rem; padding: 1rem;}
.cate-wrap {display: flex; justify-content: space-between; align-items: flex-start;}
.cate-wrap > li {flex: 31% 0 0; background-color: #fff; text-align: center;}
.cate-wrap .cate-tit {padding: 2rem 0; font-size: 2rem; font-family: 'Oswald', sans-serif;}
.cate-wrap .cate-desc {color: #999; line-height: 1.75rem; 
	padding: 1rem 2rem 2rem 2rem;}



/* Footer */


/* Responsive */
@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}